---
root: true

parser: babel-eslint

plugins:
  - react
  - import

settings:
  react:
    version: 16.6.3

parserOptions:
  ecmaVersion: 6
  ecmaFeatures:
    jsx: true
    modules: true
    experimentalObjectRestSpread: true

extends:
  - react-app
  - plugin:react/recommended
  - plugin:import/errors

env:
  browser: true
  node: true
  jest: true

rules:
  react/jsx-filename-extension: 0
