@import '../../constants.scss';

.labeled-field {

  margin-bottom: 2 * $gutter-size--large;
  
  .field-header {
    display: flex;
    align-items: center;
    margin-bottom: $gutter-size--large;

    .label {
      margin-left: 1em;
      font-weight: 700;
    }
  }

  .content {
    margin-left: calc(16px + 1em);
  }
}