@import '../../constants.scss';

.button, .active {
	color: $secondary-dark;
	border: 1px solid $light-grey;
	border-radius: 20px;
	width: 80px;
	margin: 10px;
	height: 40px;
	cursor: pointer;
}

.active {
	border: none;
	color: white;
	background: $positive-light;
}
