@import '../../constants.scss';

.user-header {
  display: flex;
  align-items: center;

  .name-label {
    flex: 1;
    margin: 0 1em;
    color: $label-color;
  }

  .avatar {
    height: 4em;
  }

  .frameless-button {
    cursor: pointer;
    border: none;
    color: $positive;
    background: none;
  }
}