@import './constants.scss';

body {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  padding: $gutter-size--large;
}

header {
  font-size: 2.5em;
  font-weight: 700;
  margin: 2 * $gutter-size--large 0 2 * $gutter-size--large;
}
