@import './constants.scss';

.app-header {
  padding: $gutter-size--large;

  img {
    max-height: 33px;
  }

  border-bottom: $border-standard;
}

.button {
  box-sizing: border-box;
  padding: 12px;
  background-color: $primary-dark;
  color: $secondary-light;
  width: calc(25% - 12px);
  height: 42px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
}

h2 {
  &.h6 {
    font-size: 24px;
  }
}
