// These constants are used throughout the design and are here to make things easier for you!

$gutter-size: 4px;
$gutter-size--large: 2 * $gutter-size;

// C O L O R S
$primary: #7e5ced;
$primary-dark: #28bcba;

$secondary-light: #dfdfdf;
$secondary: #c5d0de;
$secondary-dark: #637280;
$secondary-extra-dark: #333f52;

$label-color: #343a46;
$outline-dark: #3b4859;
$focus-border: #319bf5;
$error: #ff4743;
$success: #63dbc1;
$bold-text-color: #353a46;

$positive: #58bfa9;
$positive-light: #63dbc1;

$negative: #ff0a05;
$negative-light: #ff4743;

$icon-color: #4a4a4a;

$light-grey: #dfdfdf;
$hover-grey: #f9f9f9;

$transparent-grey: rgba(0, 0, 0, 0.4);

$border-standard: solid 1px #dddddd;
